image: cc_image:latest
cache:
  paths:
    - images   # shared directory to drop generated singularity images

stages:
  - image      # building the singularity images
  - unittest   # running unittests
  - docs       # generating and uploading documentation
  - publish    # publish the package on PyPI

################
# image
################

build_singularity_image_py37:
  stage: image
  script:
    - mkdir images -p
    - rm -f images/cc_py37.simg
    - singularity build images/cc_py37.simg container/singularity/cc_py37.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py37.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py37.def
  timeout: 6 hours

build_singularity_image_py37_lite:
  stage: image
  script:
    - mkdir images -p
    - rm -f images/cc_py37_lite.simg
    - singularity build images/cc_py37_lite.simg container/singularity/cc_py37_lite.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py37_lite.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py37_lite.def

################
# unittest
################

unittest_python_3.7:
  stage: unittest
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37.simg make -C /test/package test
  cache:
    paths:
      - images

unittest_python_3.7_lite:
  stage: unittest
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37_lite.simg make -C /test/package test
  cache:
    paths:
      - images

################
# docs
################

pages:
  stage: docs
  artifacts:
    paths:
    - public
  cache:
    paths:
      - images
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37.simg make -C /test/package docs
    - mv package/docs/_build/html/ public/
  only:
    - master

################
# publish
################

test_pypi_publish:
  stage: publish
  cache: {}
  script:
    - cd package
    - python setup.py sdist
    - twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/*
  only:
    - tags

pypi_publish:
  stage: publish
  cache: {}
  script:
    - cd package
    - python setup.py sdist
    - twine upload --verbose dist/*
  only:
    - tags
