pip==18.1
bumpversion==0.5.3
wheel==0.32.1
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
twine==1.12.1
pytest==3.8.2
pytest-runner==4.2
sqlalchemy
paramiko
psycopg2
autologging==1.1.0
patool
pandas
wget
standardiser
h5py
numpy
scipy
scikit-learn
seaborn
matplotlib==1.5.3
gensim
timeout_decorator
mock
tensorflow
adanet
csvsort
e3fp
cython
MulticoreTSNE
hdbscan