include AUTHORS.rst
include CONTRIBUTING.rst
include README.rst
include LICENSE

include chemicalchecker/util/config/cc_config.json
include chemicalchecker/util/logging/logging_conf.ini

recursive-include chemicalchecker/core/examples *
recursive-include chemicalchecker/core/examples/validation_sets *
recursive-include docs *
prune docs/_build
prune docs/_autosummary

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
